// Pink Tiles

.homepage--callout--tiles {
  position: relative;
  z-index: 2;
  padding-bottom: 4rem;
  background: $carbon--gray-100;
  z-index: 2;
}

.homepage--callout--tiles a {
  color: $carbon--white-0 !important;
}

.homepage--tile-border {
  outline: $carbon--magenta-60 solid 1px;
}

.homepage--tile-border:hover {
  background-color: $carbon--magenta-60;

  transition: $transition--base $carbon--standard-easing;
}

.homepage--tile-padding {
  padding: 1rem 1rem 1.5rem 1rem;
}

.homepage--tile-height {
  height: 100%;
}

.homepage--tile-wrapper div svg {
  fill: white;
}

.homepage--tile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.homepage--tile-wrapper p {
  @include carbon--type-style("productive-heading-07", true);
  @include carbon--breakpoint("lg") {
    @include carbon--type-style("productive-heading-06", true);
  }
}

.homepage--tile-subheader-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.homepage--tile-subheader-text {
  width: 163px;
}
