//---------------------------------------
// Carbon core
//---------------------------------------

// colors, spacing, theme-tokens, functions, motion
@import "~carbon-components/scss/globals/scss/vars";
@import "~carbon-components/scss/globals/scss/typography";

// mixins
@import "~@carbon/elements/scss/layout/breakpoint";
@import "~@carbon/elements/scss/type/styles";

@include carbon--type-classes();

@import "../../components/HomepageHeader/_homepage-header.scss";
@import "../../components/HomepageNavTile/_homepage-nav-tile.scss";
@import "../../components/HomepageLightCallout/_homepage-light-callout.scss";
@import "../../components/HomepageArticles/_homepage-articles.scss";
@import "../../components/NavTile/_nav-tile";
@import "../../components/HomepageVideo/homepage-video.scss";
@import "../../components//PlayPauseButton/play-pause-button.scss";
@import "../../components//VideoInternal/video-internal.scss";

// Carbon Motion
@import "@carbon/motion/scss/motion.scss";

// Gives numbered lists some breathing room
ol li {
  margin-bottom: 1.5rem !important;
}

// 2nd line in bulleted lists align with the first word of the 1st line. Gives some margin between list items.
.bullets {
  ul {
    width: 100%;
  }

  li {
    margin-bottom: 1.5rem;
  }

  li:before {
    margin-right: 0;
  }
}

// Fixes the gutter of the article cards on the homeage
.article-right-gutter {
  padding-right: 0;
  @include carbon--breakpoint("md") {
    padding-right: 1rem;
  }
}

// Homepage links
.container--homepage p a {
  color: #ffffff !important;
  text-decoration: underline !important;

  &:hover {
    color: $carbon--blue-40 !important;
  }
}

// Fixes the semibold on the homepage
.semibold {
  font-weight: 600 !important;
}

.last-card {
  padding-bottom: 199% !important;
}
