//---------------------------------------
// Carbon core
//---------------------------------------

// colors, spacing, theme-tokens, functions, motion
@import "~carbon-components/scss/globals/scss/vars";
@import "~carbon-components/scss/globals/scss/typography";

// mixins
@import "~@carbon/elements/scss/layout/breakpoint";
@import "~@carbon/elements/scss/type/styles";

@include carbon--type-classes();

@import "../../components/HomepageHeader/_homepage-header.scss";
@import "../../components/HomepageNavTile/_homepage-nav-tile.scss";
@import "../../components/HomepageLightCallout/_homepage-light-callout.scss";
@import "../../components/HomepageArticles/_homepage-articles.scss";
@import "../../components/NavTile/_nav-tile";
@import "../../components/HomepageVideo/homepage-video.scss";
@import "../../components//PlayPauseButton/play-pause-button.scss";
@import "../../components//VideoInternal/video-internal.scss";

// Carbon Motion
@import "@carbon/motion/scss/motion.scss";

// Gives numbered lists some breathing room
ol li {
  margin-bottom: 1.5rem !important;
}

// 2nd line in bulleted lists align with the first word of the 1st line. Gives some margin between list items.
.bullets {
  ul {
    width: 100%;
  }

  li {
    margin-bottom: 1.5rem;
  }

  li:before {
    margin-right: 0;
  }
}

// Fixes fontsize for the link in the homepage callout
.container--homepage p a {
  font-size: 1.6rem !important;
  @include carbon--breakpoint("md") {
    font-size: 1.75rem !important;
  }
  @include carbon--breakpoint("lg") {
    font-size: 1.93rem !important;
  }
  @include carbon--breakpoint("xlg") {
    font-size: 2rem !important;
  }
}

// Fixes the gutter of the article cards on the homeage
.article-right-gutter {
  padding-right: 0;
  @include carbon--breakpoint("md") {
    padding-right: 1rem;
  }
}

// Fixes accordion children width
.bx--accordion__content {
  padding-right: 8%;
}

//Fixes accordion type and spacing
.bx--accordion__title {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  // margin: 0 0 0 0;
  @include carbon--type-style("heading-02", true);
}
