.bullets {
  ul {
    width: 100%;
  }

  li {
    margin-bottom: 1.5rem;
    list-style-position: inside;
    text-indent: -0.5rem;
    padding-left: 1rem;
  }

  li:before {
    margin-right: 0;
  }
}
